server:
  port: 8081

spring:
  application:
    name: USER-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/fitness_user_DB?createDatabaseIfNotExist=true
    username: ${DB_USER:root}
    password: ${DB_PASS:change_me}
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: ${JWT_SECRET:change_me_change_me_change_me_change}
  expiration-seconds: 3600

eureka:
  instance:
    preferIpAddress: true
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true