server:
  port: 8082

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/fitness_user_DB
  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:change_me}
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 5000
          max-attempts: 10
    template:
      retry:
        enabled: true
        initial-interval: 5000
        max-attempts: 10

eureka:
  instance:
    preferIpAddress: true
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
